
/* font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
 */


:root{
    --rojo: red;
    --fondo: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

/* reutilizables */

.lineaDiv{
    border-top: 1px solid #aaa;
    height: 2px;
    max-width: 60%;
    padding: 0;
    margin: 2rem auto 4rem auto;
}

.container{
    width: 90%;
    margin: auto;
}



/* NAV */
header{
    padding: 1rem 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 3rem;
}

header nav a{
    color: #aaa;
    text-decoration: none;
    margin-right: 1rem;
}

header nav a:hover,
header nav a.active {
    color: white;
}

/* MAIN */

.fondomain{
    font-size: 1.2rem;
    min-height: 40rem;
    color: white;
    background:url(../imagenes/fondoHeader/main-fondo.jpg);
    background-position: top center;
    background-size: cover;
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-end;
}

.fondomain .container{
    margin: 0 auto;
    margin-bottom: 6rem;
}

.fondomain .titulo{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

.fondomain .descripcion{
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-width: 50%;
    margin-bottom: 2rem;
}

.fondomain .boton{
    background: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 0.2rem;
    padding: 1rem;
    color: white;
    margin-right: 1rem;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1rem;
}

.fondomain .boton:hover{
    background:white;
    color: black;
}

.fondomain .boton i{
    margin-right: 1rem;
}

/* Section 1 */

#galeria img{
    width: 100%;
    height: 25;
}

#galeria img:hover{
    border: 3px solid #141414;
}

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 1rem;
}

#galeria .text-center h2{
    color: #a27a60;
    font-size: 3rem;
    padding-bottom: 1rem;
}

#galeria .text-center p{
    color: #aaa;
    font-size: 1rem;
}

.h2-titulos h2{
    color: #aaa;
    padding-top: 0.8rem;
    text-align: center;
}





/* SECTION 2 TRAILER DRAGON BALL */
#sectionTrailer{
    margin: 5rem auto;
}

.trailer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.titulo__sec2{
    color: white;
    padding-bottom: 2rem;
}

.titulo__sec2 i{
    color: crimson;
    padding-right: 1rem;
}

.desc__trailer{
    font-size: 1.5rem;
    color: #aaa;
    padding-left: 2rem;
}

.desc__trailer h3{
    color: white;
    padding-bottom: 2rem;
}

.vid__trailer{
    height: 100%;
}






/* FOOTER */
.box__1{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    font-size: 1rem;
}

.box__1 a{
    padding: 1.5rem;
    text-decoration: none;
    color: #aaa;
}

.box__1 a i{
    padding-right: 0.5rem;
}

.box__1 a:hover{
    color: white;
    font-size: 1.1rem;
    transition: all .4s;
}

.box1__right{
    display: flex;
}

.box1__left{
    display: flex;
}

.box__2{
    text-align: center;
    color: #aaa;
    font-size: 1rem;
}




















/* Media queries */

/* NAV */
@media screen and (max-width:768px){
    header .logo{
        margin-bottom: 1rem;
    }
    header .container{
        flex-direction: column;
        text-align: center;
    }
    header .logo{
        font-size: 2.2rem;
    }
}

@media screen and (max-width:480px){

    .fondomain .descripcion{
       max-width: 100%;
       font-size: 1rem;
    }
}

/* Footer */

@media screen and (max-width:992px){
    .box__1{
        justify-content: space-evenly;
    }
    .box__1 a{
        padding: 1rem;
    }
    .box1__right{
        flex-direction: column;
    }
    .box1__left{
        flex-direction: column;
    }
}

@media screen and (max-width:576px){
    .box__1{
        justify-content: space-evenly;
    }
    .box__1 a{
        padding: 0.7rem;
    }
    .box1__right{
        flex-direction: column;
    }
    .box1__left{
        flex-direction: column;
    }
}