@import "mixin";
main{
    & .h1__nosotros{
        display: flex;
        justify-content: center;
        align-items: center;
        & h1{
            text-align: center;
            color: white;
            margin-top: 2rem;
        }
    }
    & .desc__nosotros{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        & p{
            font-size: 2rem;
            margin-top: 3rem;
            @include fontTitulos;
            color: white;
            text-align: center;
        }
    }
    & .boton__nosotros{
        display: flex;
        justify-content: space-around;
        margin-top: 4rem;
    }
}

/* Media Queries */

@media screen and (max-width:768px){
    main .desc__nosotros p{
        font-size: 1.2rem;
        margin-top: 2rem;
    }
}